name: cpstl cpp code check

on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cpp code sanity check
      run: cd cpp/ && ./check_cpp_code.sh